# https://learn.microsoft.com/en-us/dotnet/devops/dotnet-test-github-action
# https://docs.github.com/en/actions/tutorials/build-and-test-code/net
name: Build and Test

on:
  push:
  pull_request:
    branches: [ main ]
    paths:
      - '**.cs'
      - '**.csproj'

env:
  DOTNET_VERSION: '9.0.x'

permissions:
  checks: write
  pull-requests: write
  contents: read
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-


      - name: Create test results directories
        run: |
          mkdir -p test-results/unit
          mkdir -p test-results/component
          mkdir -p test-results/integration

      - name: Start dependencies (postgres, seq)
        run: docker compose up -d postgres seq

      - name: Run unit tests
        run: docker compose run --rm test-unit

      - name: Run component tests
        run: docker compose run --rm test-component

      - name: Run integration tests
        run: docker compose run --rm test-integration

      - name: List test result files
        if: always()
        run: find test-results -type f -maxdepth 3 -print

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: 'test-results/**/*.trx'

      - name: Publish test results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: 'test-results/**/*.trx'

      - name: Shutdown containers
        if: always()
        run: docker compose down -v
